<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangnan.gesturelockview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.StandardGestureLockActivity"
            android:label="手势解锁视图（原始）"/>
        <activity android:name=".activity.ImageGestureLockActivity"
            android:label="手势解锁视图（图片代替绘制）"/>
        <activity android:name=".activity.System360GestureLockActivity"
            android:label="手势解锁视图（仿360系统桌面）"/>
        <activity android:name=".activity.JDFinanceGestureLockActivity"
            android:label="手势解锁视图 (仿京东金融)"/>
        <activity android:name=".activity.AliPayGestureLockActivity"
            android:label="手势解锁视图（仿支付宝）"/>
        <activity android:name=".activity.LUcomGestureLockActivity"
            android:label="手势解锁视图（仿陆金所）"/>
    </application>

</manifest>